/* สำหรับการจัดการภายใน container */
    .main-container {
        display: flex;              /* ใช้ Flexbox */
        justify-content: center;    /* จัดเนื้อหาให้อยู่ตรงกลางแนวนอน */
        align-items: center;        /* จัดเนื้อหาให้อยู่ตรงกลางแนวตั้ง */
        width: 100%;                /* กำหนดความกว้างเต็ม */
        height: 100vh;              /* ความสูงเต็ม viewport */
        background-color: #006F68;
        background-color: rgba(0, 111, 104, 0.8); /* 0.8 หมายถึง 80% ทึบ */
    }
    
    /* สำหรับการจัดการหลักของคอนเทนเนอร์ */
    
    .container {
        display: flex; /* ใช้ Flexbox */
        place-items: center; /* จัดแนวข้อความตรงกลางทั้งแนวนอนและแนวตั้ง */
        width: 855px;
        height: 642px;
        /* background-image: url('../Assets/background.png'); */
    }

    /* เนื้อหาฝั่งซ้าย */
    .left-side {
        flex: 1; /* ทำให้ขยายความสูงเต็มคอนเทนเนอร์ */
        width: 378px; /* ความกว้าง */
        height: 430px;
        box-sizing: border-box; /* รวมขอบในขนาด */       
        display: flex; /* ใช้ Flexbox */
        flex-direction: column; /* เรียงเนื้อหาในแนวตั้ง */
        margin-top: 64px;
        gap: 48px; /* กำหนดระยะห่างระหว่างเนื้อหาแต่ละชิ้นเป็น 24px */
    }

    .logo {
        width: 80px;
        height: 80px;
        margin-left: 48px;
    }

    .header-left {
        font-size: 46px;
        font-weight: bold;
        color: #006F68;
        padding-left: 48px;
    }
    
    /* เนื้อหาฝั่งขวา */
    .right-side {
        display: flex; /* ใช้ Flexbox */
        flex-direction: column; /*จัดการทิศทางขององค์ประกอบเป็นแนวตั้ง (จากบนลงล่าง)*/
        flex: 1; /* ปรับขนาดตามต้องการ */
        font-family: 'Prompt', sans-serif;
        width: 378px;
        height: 100%;
        margin-top: 82px;
        margin-right: 48px;
    }

    .header-right {
        color: #006F68;
        font-weight: bold;
        font-size: 30px;
    }

    .login-social {
        display: flex;
        justify-content: center;
        gap: 8px;
        margin-top: 56px;
    }
    
    .loginbutton {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        width: 112px;
        height: 32px;
        border-radius: 8px;
        color: #006F68;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
    }

    .google {
        background-color: #fff;
        border: 1px solid #D9D9D9; /* ขนาดกรอบ 2px, แบบเส้น solid, สีแดง */
    }

    .facebook {
        background-color: #fff;
        border: 1px solid #D9D9D9; /* ขนาดกรอบ 2px, แบบเส้น solid, สีแดง */
    }


    

    